{% extends 'base.html' %}


{%  block content %}

<div>
  <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
    <!--target_user 은 현재 자기가 보고 있는 페이지의 user 를 의미함-->

    {% if target_user.profile %}  <!-- target_user 의 profile 이 있는 경우 (profile 을 설정한 경우) -->


    <h2>
      {{ target_user.profile.nickname }}

      {% if target_user == user %} <!-- target_user 은 지금 보고있는 페이지 유저, user 은 현재 로그인 되어있는 유저  -->
      <a class="material-icons" href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
          edit
      </a>
      {% endif %}

    </h2>


    <img src="{{ target_user.profile.image.url }}" alt="" style="height: 12rem; width: 12rem; border-radius: 20rem; margin: 2rem; object-fit: cover;">
    <!-- accountapp의 view.py 에서 User라는 model을 사용하고(database), 지금 보고 있는 database의 내용을 (context_object_name)target_user라고 함
    profileapp의 model.py 에서 Profile.user 를 profile 이라고 부르겠다고 약속함.
    Profile.user 는 view.py 에서 request.user 로 저장되어있음 (id, password)
    그럼 이 profile은 어디서 온 걸까??
    -->

    <h4 style="font-family: 'Nanum Brush Script', cursive;">
      " {{ target_user.profile.message }} "
    </h4>

    <p>
      {{ target_user.profile.island }}
    </p>

    {% else %}

      {% if target_user == user %}
      <a href="{% url 'profileapp:create'%}">
        <h2>
          Create Profile
        </h2>
      </a>
      {% else %}
      <h2>
        아직 프로필을 설정하지 않았습니다
      </h2>

      {% endif %}

    {% endif %}


    {% if target_user == user %}
    <!--    현재 페이지의 user(target_user)가 현재 로그인 되어있는 유저(user)와 같다면-->
    <a class="material-icons" href="{% url 'accountapp:update' pk=user.pk %}">
        settings
    </a>

    <a class="material-icons" href="{% url 'accountapp:delete' pk=user.pk %}">
        cancel
    </a>

    {% endif %}

  </div>
  <div>
    {% include 'snippets/list_fragment.html' with article_list=object_list %}
<!--  snippets 폴더 안의 list_fragment 를 사용하는데, 이때 article_list 라는 변수에 object_list 를 넣어서 같이 넘겨줌
    그럼 list_fragment 에서 article_list 라는 변수를 사용할 수 있고, 이때 변수의 내용에는 object_list 가 들어가있음-->
  </div>
</div>

{% endblock %}