<!-- accountapp 을 위한 templates 보관하는 폴더(templates)에 가독성을 위한 accountapp 만들고 그 안에 html 파일을 저장-->

<!--extends 시 뼈대 자체를 가져옴 : 이 뼈대 파일에서 block content 부분에 각 html 파일 별로 다른 내용을 넣을 수 있음 -->
{% extends 'base.html' %}

<!-- base.html에서 block content 부분은 이 안에 입력하는 내용이 렌더링 됨 !-->
{% block content %}

    <div style="border-radius: 1rem; margin: 2rem; text-align: center;">
        <h1 style="font-family: 'Nunito', sans-serif;">
            Hello World LIST!
        </h1>

        <form action="/accounts/hello_world/" method="post">
            <!-- POST method를 사용해서 요청을 보낼 떄는 csrf token 을 명시해야함-->
            {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
            </div>
        </form>

        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
            <h4>
                {{ hello_world.text }}
            </h4>
            {% endfor %}
        {% endif %}

    </div>

    <!--    method POST를 사용하기 위해서는 html 안에 form 을 만들어 줘야함 : request body 에 들어가는 정보-->


{% endblock %}
