{% extends 'base.html' %}
{% load bootstrap4 %}





{% block content %}
{% load socialaccount %}


  <div style="text-align: center; max-width: 500px; margin: 4rem auto;">

    <div>
        <h4>Login</h4>
    </div>

    <div>
      <form action="" method="post">
        {% csrf_token %} <!-- POST method 에 반드시 이것부터 쓸 것  -->
<!--        {{ form }} &lt;!&ndash; LoginView 에서 기본 제공 &ndash;&gt;-->
        {% bootstrap_form form %} <!-- bootstrap 이 적용된 form 을 사용 -->
        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3 ">
      </form>

    </div>
    <hr>
    <a href="{% provider_login_url 'kakao' %}" class="btn" id="kakao_login">
      카카오톡 회원가입
    </a>
  </div>

{% endblock %}

