<!--웹 사이트의 header 부분 입니다. 고정되는 부분으로 각 html 파일에서 include 를 통해 반영됩니다.-->

    <div class="whichisland_header">

        <div>
            <a href="{% url 'accountapp:home' %}">
                <h1 class="whichisland_logo"> Sporters </h1>
            </a>
        </div>
        <div style="margin: 1rem;">
            <a href="{% url 'articleapp:list' %}" class="whichisland_header_nav">
                <span>선수소개</span>
            </a> |
            <a href="{% url 'projectapp:list' %}" class="whichisland_header_nav">
                <span>구단소개</span>
            </a> |
            <a href="" class="whichisland_header_nav">
                <span>대회정보</span>
            </a> |
            <a href="" class="whichisland_header_nav">
                <span>장소소개</span>
            </a>
        </div>

        <div style="text-align: right; margin: 1rem 2rem; font-size:10px;">

            {% if not user.is_authenticated %} <!--유저가 로그인 되어있지 않다면-->
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <!-- {% url 'accountapp:login' %} : accountapp의 urls.py에서 라우팅한 곳 -->
                <!--login/logout 성공 후 Redirect 순서 : next -> LOGIN_REDIRECT_URL -> Default -->
                <!--request.path : 요청 시 있었던 페이지(원래 있던 자리) -->
                <!--login url로 바로 들어가면 원래 있던 자리가 없으므로 next=부분이 의미 없어짐 =>LOGIN_REDIRECT_URL 을 설정해야함 -> ROOT 폴더의 settings.py 에서 설정할 것-->
                <span>로그인</span>
            </a> |
            <a href="{% url 'accountapp:create' %}" style="text-decoration:none">
                <span>회원가입</span>
            </a>

            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk%}" >  <!-- detail 뒤에 받는 정수형 pk는 현재 로그인 되어있는 user 의 pk임 -->
                <span>선수정보관리</span> |
            </a>
            <a href="{% url 'subscribeapp:list' %}" >  <!-- detail 뒤에 받는 정수형 pk는 현재 로그인 되어있는 user 의 pk임 -->
                <span>구독</span> |
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" >
                <span>로그아웃</span>
            </a>

            {% endif %}


        </div>

    </div>