<!-- head 부분을 이 폴더에 따로 떼어놓고, 각 파일에는 include 를 통해 부분, 조각으로 반영됩니다-->

<!-- static 관련 파일을 사용하려면 load static 구문을 넣어줘야함-->
{% load static %}

<head>

    <meta charset="UTF-8">
    <title>WhichIsland</title>

    <!-- BOOTSTRAP LINK  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- GOOGLE FONTS LINK : FOR LOGO 1  : font-family: 'Palette Mosaic', cursive; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap" rel="stylesheet">

    <!-- GOOGLE FONTS LINK : FOR LOGO 2 : font-family: 'Style Script', cursive; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <!--  GOOGLE FONTS LINK : FOR TITLE 1 : font-family: 'Nunito', sans-serif;  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">

    <!--  DEFAULT CSS LINK  -->
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

    <style>
                @font-face {
            font-family: 'NanumBarunGothic';
            src: local('NanumBarunGothic');
            url("{% static 'fonts/NanumBarunGothic.otf' %}") format("opentype");
        }
        @font-face {
            font-family: 'NanumBarunGothicBold';
            src: local('NanumBarunGothicBold');
            url("{% static 'fonts/NanumBarunGothicBold.otf' %}") format("opentype");
        }

    </style>

</head>