{% extends 'base.html' %}


{%  block content %}

<div>
  <div style="text-align: center; max-width: 700px; margin: 4rem auto;">

    <h1>
      {{ target_article.title }}
    </h1>
    <h4 style="text-align: right;">
      {{ target_article.writer.profile.nickname }}
    </h4>

    <hr>

    <img style="width: 100%; border-radius: 1rem" src="{{ target_article.image.url }}" alt="">


    <div style="text-align: left;">
      {{ target_article.content | safe }}
    </div>

    {% if target_article.writer == user %}
    <div style="text-align: right;">
      <a href="{% url 'articleapp:update' pk=target_article.pk %} " >
        Update Article |
      </a>

      <a href="{% url 'articleapp:delete' pk=target_article.pk %} " >
        Delete Article
      </a>
    </div>
    {% endif %}
    <hr>

    {% for comment in target_article.comment.all %}
      {% include 'commentapp/detail.html' with comment=comment %}
      <!-- include with 를 쓰면 include 되어 있는 곳에서 with 에서 설정한 변수를 사용할 수 있게 됨  -->
    {% endfor %}

    {% include 'commentapp/create.html' with article=target_article %}
    <!-- include 를 통해서 이 페이지에 commentapp 의 create.html 을 들고 옴-->
    <!-- include 할 때 with 구문을 통해서 target_article 을 article 에 넣어줌 ->
    commentapp/create.html 안에서 article 변수 사용 가능 -->

  </div>
</div>

{% endblock %}